<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Site</title>
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../footer_header.js"></script>
</head>
<body>
    <div class="header-container"></div> <!-- Header will be loaded here -->

    <main>
        <div class="container">
            <div class="introduction">
                <h1>Mini-autobiography</h1>
                <p> Started programming in this year and unbelievably satisfied with my results.</p>
                <p>In this semester made a goal to get familiar with full-stack development and considering that my knowledge was 0 I've come a long way in short and not stopping here</p>
                <p>Familiarized myself with <i><b class="skills">HTML, CSS, JS, JQuery, Node.js, Express.js</b></i></p>
                <p>Worked with multiple APIs and middlewares including <i><b class="APIs">Spotify Web API, Youtube API.</b></i>  (btw qr-code generator I craeted myself also)</p>
                <p>Goal for the next semester is get to know what machine learning is and do multiple projects in this area.</p> 
                <p>Do not kick me out pls🙏</p>
            </div>
            <div class="social-media qr-image">
                <div class="instagram-container">
                    <h4>Instagram</h4>
                    <img src="../public/assets/qr_image_instagram.png" class="qr" alt="Qr image with the link to my instagram page">
                </div>
                <div class="telegram-container">
                    <h4>Telegram</h4>
                    <img src="../public/assets/.png" class="qr" alt="Qr image with the link to my telegram page">
                </div>
                <div class="linkedin-container">
                    <h4>LinkedIn</h4>
                    <img src="../public/assets/qr_image_linkedin.png" class="qr" alt="Qr image with the link to my linkedin page">
                </div>
                <div class="github-container">
                    <h4>GitHub</h4>
                    <img src="../public/assets/qr_image_github.png" class="qr" alt="Qr image with the link to my github page">
                </div>
            </div>
        </div>
    </main>

    <div class="footer-container"></div> <!-- Footer will be loaded here -->
</body>
</html>
