body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background: linear-gradient(-45deg, #EE7752,#E73C7E,#23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

main {
    margin: 0;
    margin-top: 20px;
}

h2{
    text-align: center;
}

.container-about{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dots{
    margin-top: 30px;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: beige;
}

.slideshow-container {
    position: relative;
    max-width: auto;
    margin: auto;
}

.flex-slideshow{
    padding: auto;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.software-diagram{
    display: flex;
    justify-content: center;
    align-items: center;
}

.software-container{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.software-diagram img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
}

.prev:hover, .next:hover {
    background-color: black;
    color: white;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
